.Link {
  text-decoration: none;
  color: black;
}
.VocabHomeLink{
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 20px;
}
.VocabHomeBox{
  width: 250px;
  height: 250px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 10%;
  background-color: royalblue;
}
.VocabHomeDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.VocabularyAddTextArea{
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
.VocabularyAddButton{
  justify-content: center;
  width: 70px;
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
}
.VocabularyAddBoxDiv{
  align-items: center;
}
